<!--
    Run this command in Administrative shell.
        % choco install -y packages.config
-->
<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip.install" />
    <package id="adobereader" />
    <package id="dropbox" />
    <package id="everything" />
    <package id="firefox" />
    <package id="flashplayerplugin" />
    <package id="git" />
    <package id="golang" />
    <package id="googlechrome" />
    <package id="googlejapaneseinput" />
    <package id="icloud" />
    <package id="itunes" />
    <package id="libreoffice" />
    <package id="nodejs" />
    <package id="notepadplusplus.install" />
    <package id="python2" />
    <package id="python3" />
    <package id="ruby" />
    <package id="skype" />
    <package id="slack" />
    <package id="teraterm" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="visualstudiocode" />
    <package id="yarn" />
</packages>
